<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.noobz.iwant.mapper.SignRecordMapper" >
  <resultMap id="BaseResultMap" type="com.noobz.iwant.entity.SignRecord" >
    <constructor >
      <idArg column="account__id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="meeting_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    account__id, meeting_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.noobz.iwant.entity.SignRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sign_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.noobz.iwant.entity.SignRecordKey" >
    select 
    <include refid="Base_Column_List" />
    from sign_record
    where account__id = #{accountId,jdbcType=INTEGER}
      and meeting_id = #{meetingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.noobz.iwant.entity.SignRecordKey" >
    delete from sign_record
    where account__id = #{accountId,jdbcType=INTEGER}
      and meeting_id = #{meetingId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.noobz.iwant.entity.SignRecordExample" >
    delete from sign_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.noobz.iwant.entity.SignRecord" >
    insert into sign_record (account__id, meeting_id, create_time
      )
    values (#{accountId,jdbcType=INTEGER}, #{meetingId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.noobz.iwant.entity.SignRecord" >
    insert into sign_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        account__id,
      </if>
      <if test="meetingId != null" >
        meeting_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="meetingId != null" >
        #{meetingId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.noobz.iwant.entity.SignRecordExample" resultType="java.lang.Integer" >
    select count(*) from sign_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sign_record
    <set >
      <if test="record.accountId != null" >
        account__id = #{record.accountId,jdbcType=INTEGER},
      </if>
      <if test="record.meetingId != null" >
        meeting_id = #{record.meetingId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sign_record
    set account__id = #{record.accountId,jdbcType=INTEGER},
      meeting_id = #{record.meetingId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.noobz.iwant.entity.SignRecord" >
    update sign_record
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where account__id = #{accountId,jdbcType=INTEGER}
      and meeting_id = #{meetingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.noobz.iwant.entity.SignRecord" >
    update sign_record
    set create_time = #{createTime,jdbcType=TIMESTAMP}
    where account__id = #{accountId,jdbcType=INTEGER}
      and meeting_id = #{meetingId,jdbcType=INTEGER}
  </update>
</mapper>